.container {
    display: flex;
    justify-content: center;
}

.item {
    align-items: flex-end;
    height: 150px;
    width: 150px;
}

.green {
    background-color: green;
    flex-grow: 2;
}

.yellow {
    background-color: yellow;
    flex-grow: 6;
}

.purple {
    background-color: purple;
    flex-grow: 2;
}