@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
    background: rgb(60, 157, 255);
}

table {
    border-collapse: collapse;
    border-style: hidden;
    width: 400px;
}

td, th {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid gray;
}

th {
    background-color: rgb(19, 19, 34);
    color: white
}

td {
    color: rgb(112, 112, 112);
}

tbody tr:nth-child(even) {
    background: rgb(238, 238, 238);
}

tbody tr:nth-child(odd) {
    background: rgb(212, 212, 212);
}

td[data-currency]::before {
    content: '$ ';
}